<div class="title">
    <h1>Psicóloga en Ciudad Real</h1>
</div>
<div class="body">    
    <div class="donde">
        <h1>Donde estamos</h1>
        <p><strong>Dirección: </strong>Ronda del Carmen, 2 - 1.º A <br>Ciudad Real (Ciudad Real) 13002</p>
        <br><br>
        <p><strong>Email: </strong><b>{{this.email}}</b></p>
        <p><strong>Teléfono: </strong><b>{{this.telFijo}}</b></p>
        <p><strong>Movil: </strong><b>{{this.telNormal}}</b></p>
        
    </div>    
</div>
<div class="separador">
    
</div>
