body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: #3d1646;
    text-align: center;
    padding-top: 5vh;
}

.title h1 {
    font-size: 4vh;
    border-bottom: 2px solid #3d1646;
    width: 90%;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    color: #3d1646;
    margin-top: 2vh;
}

.subtitle h4 {
    font-size: 3vh;
    display: inline-block;
}

.body {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.especialista {
    width: 85%;
}

.especialista h2 {
    font-size: 4vh;
    color: #3d1646;
    margin-bottom: 1.5vh;
}

.especialista ul {
    list-style: none;
    padding: 0;
}

.especialista ul li {
    margin-bottom: 2vh;
    text-align: justify;
    font-size: 3vh;
}

.especialista ul li:first-child {
    font-size: 3.5vh;
    font-weight: bold;
}

.especialista ul li:not(:first-child)::before {
    content: "- ";
    color: #3d1646;
    font-weight: bold;
}

.separador {
    text-align: center;
    background-color: #3d1646;
    color: white;
    padding: 5vh 0;
}

.separador h2 {
    font-size: 4vh;
}

.separador b {
    font-weight: lighter;
    font-size: 4vh;
}

@media (min-width: 2000px) {
    .title h1 {
        width: 70%;
    }

    .especialista {
        width: 70%;
    }

    .separador b {
        font-size: 2.5rem;
    }
}

@media (min-width: 1500px) {
    .title h1 {
        width: 80%;
    }

    .especialista {
        width: 80%;
        font-size: 1.2rem;
    }

    .especialista h2 {
        font-size: 2rem;
    }
}

@media (max-width: 1025px) {
    .title h1 {
        font-size: 2.5vh;
        border-bottom: 1px solid #3d1646;
    }

    .subtitle h4 {
        font-size: 2vh;
    }

    .especialista {
        width: 90%;
    }

    .especialista h2 {
        font-size: 3vh;
    }

    .especialista ul li {
        font-size: 1.1rem;
        text-align: left;
    }

    .especialista ul li:first-child {
        font-size: 1.3rem;
    }

    .separador {
        padding: 3vh 0;
    }

    .separador h2 {
        font-size: 2.5vh;
    }

    .separador b {
        font-size: 1.4rem;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    .especialista ul li {
        font-size: 3.5vh;
    }

    .separador h2,
    .separador b {
        font-size: 4.5vh;
    }

    .title h1 {
        font-size: 4.5vh;
    }

    .subtitle h4 {
        font-size: 4vh;
    }
}