<div class="title">
    <h1>Psicóloga María Jesús García Castro</h1>
</div>
<div class="subtitle">
    <h4>Presencial y online</h4>
</div>
<div class="body">    
    <div class="especialista">
        
        <ul style="list-style: none;">
            <h2>Especialista en ansiedad</h2>
            <li><b style="color: #3d1646; font-weight: lighter;">Trastornos de ansiedad</b>: ataques de pánico, hipocondría, pensamientos obsesivos y tendencia a sobrepensar</li>
            <li><b style="color: #3d1646; font-weight: lighter;">Ruptura de pareja / depedencia</b></li>
            <li><b style="color: #3d1646; font-weight: lighter;">Conflictos de pareja</b></li>
            <li>Asesoramiento en conflictos cotidianos: toma de decisiones, consejo puntual sobre aspectos personales, laborales, etc</li>
            <li><b style="color: #3d1646; font-weight: lighter;">Técnicas para desarrollar la inteligencia emocional</b></li>
            <li>Insatisfacción personal, baja autoestima, inseguridad</li>
            <li>Ansiedad social, timidez, habilidades sociales</li>
            <li>Control de la irritabilidad</li>
            <li>Depresión, baja motivación</li>
            <li>Insomnio crónico</li>
            <li>Acoso escolar y acoso laboral</li>
            <li><b style="color: #3d1646; font-weight: lighter;">Estrés</b>: estrés laboral/escolar, bajo rendimiento intelectual y académico</li>
            <li><b style="color: #3d1646; font-weight: lighter;">Técnicas de estudio y elaboración de un plan de estudios personalizado</b></li>
            <li><b style="color: #3d1646; font-weight: lighter;">Tratamiento conductual del sobrepeso</b></li>
        </ul>
    </div>    
</div>
<div class="separador">
    <div class="text1">
        <h2 style="color: white">Información por llamada o WhatsApp:</h2>
        <b><a [href]="whatsappLink" style="color: white; text-decoration: none;">{{this.telNormal}}</a></b><br>
    </div>
</div>

<app-whatsapp-button></app-whatsapp-button>
<app-telefono-button></app-telefono-button>
