<div class="title">
    <h1>Psicóloga en Ciudad Real</h1>
</div>
<div class="subtitle">
    <h4>Presencial y online</h4>
</div>
<div class="body">    
    <div class="especialista">
        <h2>Especialista en ansiedad</h2>
        <ul>
            <li>TRASTORNOS DE ANSIEDAD: ataques de pánico, hipocondría, pensamientos obsesivos y tendencia a sobrepensar.</li><br>
            <li>SUPERACIÓN DE RUPTURAS DE PAREJA.</li><br>
            <li>TÉCNICAS PARA LA RESOLUCIÓN DE CONFLICTOS DE PAREJA.</li><br>
            <li>Asesoramiento en conflictos cotidianos: toma de decisiones, consejo puntual sobre aspectos personales, laborales, etc.</li><br>
            <li>Técnicas para desarrollar la inteligencia emocional.</li><br>
            <li>Insatisfacción personal, baja autoestima, inseguridad.</li><br>
            <li>Ansiedad social, timidez, habilidades sociales.</li><br>
            <li>Control de la irritabilidad.</li><br>
            <li>Depresión, baja motivación.</li><br>
            <li>Insomnio crónico.</li><br>
            <li>Acoso escolar y acoso laboral.</li><br>
            <li>Escuela de padres: pautas para el manejo de conflictos cotidianos.</li><br>
            <li>Estrés: estrés laboral/escolar, bajo rendimiento intelectual y académico.</li><br>
            <li>Técnicas de estudio y elaboración de un plan de estudios personalizado.</li><br>
            <li>Medición de la capacidad intelectual (C.I.) en niños y adultos, con resultados en informe.</li><br>
            <li>Tratamiento conductual del sobrepeso.</li><br>
        </ul>
    </div>    
</div>
<div class="separador">
    <div class="text1">
        <h2 style="color: white">Información por llamada o WhatsApp:</h2>
        <b><a [href]="whatsappLink" style="color: white; text-decoration: none;">{{this.telNormal}}</a></b><br>
    </div>
</div>

<app-whatsapp-button></app-whatsapp-button>
<app-telefono-button></app-telefono-button>
