<div class="title">
    <h1>Psicóloga en Ciudad Real</h1>
</div>
<div class="body">    
    <div class="especialista">
        <h2>Especialista en ansiedad</h2>
        <ul>
            <li>TRASTORNOS DE ANSIEDAD: hipocondría, obsesiones/compulsiones, fobias.</li>
            <li>SUPERACIÓN DE RUPTURAS DE PAREJA.</li>
            <li>TÉCNICAS PARA LA RESOLUCIÓN DE CONFLICTOS DE PAREJA.</li>
            <li>Asesoramiento en conflictos cotidianos: toma de decisiones, consejo puntual sobre aspectos personales, laborales, etc.</li>
            <li>Técnicas para desarrollar la inteligencia emocional.</li>
            <li>Insatisfacción personal, baja autoestima, inseguridad.</li>
            <li>Ansiedad social, timidez, habilidades sociales.</li>
            <li style="color: #c18bdf">Control de la irritabilidad.</li>
            <li>Depresión, baja motivación.</li>
            <li style="color: #c18bdf">Insomnio crónico.</li>
            <li>Acoso escolar y acoso laboral.</li>
            <li>Escuela de padres: pautas para el manejo de conflictos cotidianos.</li>
            <li>Estrés: estrés laboral/escolar, bajo rendimiento intelectual-académico.</li>
            <li>Técnicas de estudio y elaboración de un plan de estudio personalizado.</li>
            <li>Medición de la capacidad intelectual (C.I.) en niños y adultos, con resultados en informe.</li>
            <li>Tratamiento conductual del sobrepeso.</li>
        </ul>
    </div>    
</div>
<div class="separador">
    <div class="text1">
        <h2 style="color: white">Informacion y cita: </h2>
        <b style="color: #c18bdf">{{this.telFijo}} - {{this.telNormal}}</b>
    </div>
</div>

<app-whatsapp-button></app-whatsapp-button>
