.title{
    color: #3d1646;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle h4{
    font-size: 3vh;
    color: #3d1646;
    border-bottom: 1px solid #3d1646;
}

.especialista h2{
    margin-bottom: 1.5vh;
}

ul li{
    margin-bottom: 2vh;
    text-align: justify;
}

.title h1{
    border-bottom: 3px solid #3d1646;
    width: 90%;
    font-size: 4vh;
}



.especialista{
    padding-top: 2vh;
    width: 85%;
    padding-bottom: 5vh;
    
    
}

.especialista h2{
    font-size: 4vh;
}

.especialista ul li{
    text-align: justify;
    font-size: 3vh;
    font-family: 'Cygre';
}

.body{
    display: flex;
    justify-content: center;
}

.separador{
    text-align: center;
    background-color: #3d1646;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador b{
    font-weight: lighter;
    font-size: 4vh;
}


h2{
    color: #3d1646;
    font-size: 200%;
}

@media (min-width: 2000px){
    .title h1{
        width: 70%;
    }
    .especialista{
        width: 70%;
    }
    .separador b{
        font-size: 250%;
    }
}

@media (min-width: 1500px){
    .title h1{
        width: 80%;
    }
    .especialista{
        width: 80%;
        font-size: 120%;
    }
    .especialista h2{
        font-size: 200%;
    }
}



@media (max-width: 1025px){
    

    .separador b{
        font-size: 140%;
    }

    .separador h2{
        font-size: 110%;
    }

    .separador{
        height: 15vh;
    }

    .especialista h2{
        font-size: 1.6rem;
    }

    .title h1{
        font-size: 3.5vh;
    }

    .especialista{
        width: 90%;
    }

    .especialista ul li{
        margin-left: -7.5vw;
        font-size: 1.2rem;
        text-align: left;
        font-family: 'Cygre-m';
    }

    .especialista ul li b{
        font-size: 1.2rem;
        text-align: left;
        font-family: 'Cygre-m';
    }

    .subtitle h4{
        font-size: 2.5vh;
        color: #3d1646;
        border-bottom: 1px solid #3d1646;
    }
}

@media (min-width: 1000px) and (max-width: 1400px){
    .text1 h2{
        font-size: 4.5vh;
    }

    .text1 a{
        font-size: 4.5vh;
    }
}