.title{
    color: #3d1646;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.title h1{
    border-bottom: 3px solid #3d1646;
    width: 90%;
}

.especialista{
    padding-top: 5vh;
    width: 90%;
    padding-bottom: 5vh;
    
}

.body{
    display: flex;
    justify-content: center;
}

.separador{
    text-align: center;
    background-color: #3d1646;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador b{
    font-weight: lighter;
    font-size: 4vh;
}


h2{
    color: #3d1646;
}

@media (min-width: 2000px){
    .title h1{
        width: 70%;
    }
    .especialista{
        width: 70%;
    }
    .separador b{
        font-size: 250%;
    }
}

@media (min-width: 1500px){
    .title h1{
        width: 80%;
    }
    .especialista{
        width: 80%;
        font-size: 120%;
    }
    .especialista h2{
        font-size: 200%;
    }
}

@media (max-width: 768px){
    .especialista li{
        font-size: 80%;
    }

    .separador b{
        font-size: 100%;
    }

    .separador{
        height: 15vh;
    }
}