.header-small{
    background-color: #252525;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.header-big{
    background-color: #c18bdf;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.imagen {
    background-image: url('../assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
}

.imagen-footer {
    background-image: url('../assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 15vh;
}

.contacto{
    width: 20%;
    font-size: 1.5vh;
}

.imagen-footer-ct{
    width: 20%;
}

.footer-big{
    display: flex;
    justify-content: space-evenly;
    background-color: #e5e5e5;
    height: 20vh;
    align-items: center;
}

.contenedor-imagen{
    width: 11%;
}

.navbar{
    width: 60%;
}

header a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.contacto a{
    color: #c18bdf;
    text-decoration: none;
}

.navbar a{
    text-decoration: none;
    color: #473c4e;
    font-size: 3vh;
}
.navbar a:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.footer-small{
    align-items: center;
    height: 5vh;
    background-color: #252525;
    color: #7f7f7f;
    display: flex;
    justify-content: space-evenly;
}

.footer-small a{
    color: #8e6494;
    text-decoration: none;
}

@media (max-width: 768px) {
    .imagen-footer-ct{
        display: none;
    }

    .contenedor-imagen{
        width: 50%;
    }

    .navbar{
        width: 20%;
    }

    .contacto{
        text-align: center;
        width: 100%;
    }

    .footer-small{
        font-size: 55%;
    }
    .header-small{
        font-size: 70%;
    }

    .navbar-nav a {
        font-size: 70%;
    }

    /* Fondo del menú desplegable */
    .navbar-collapse {
        background-color: #c18bdf; /* Color de fondo del menú */
        padding: 15px;
        margin-top: 10px;
        border-radius: 10px;
    }

    /* Ajuste de los enlaces dentro del menú */
    .navbar-nav .nav-link {
        color: white !important;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    /* Efecto al pasar el mouse sobre los enlaces */
    .navbar-nav .nav-link:hover {
        background-color: #a86ecf;
        color: #ffffff;
    }

    /* Espaciado del navbar-toggler (botón hamburguesa) */
    .navbar-toggler {
        border: none;
        background-color: white;
        padding: 8px 12px;
        border-radius: 5px;
    }
    .navbar-collapse {
        text-align: center;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    
    

}