<header>
  
  
  <div class="header-big">
    <div class="contenedor-imagen">
      <div class="imagen" (click)="goInicio()"></div>
    </div>
    <div class="navbar2">
      <ul>
        @if(checkRoute() == '/inicio'){
          <li (click)="goInicio()" style="color: white; text-decoration: underline;">Inicio</li>
        }@else{
          <li (click)="goInicio()">Inicio</li>
        }
        @if(checkRoute() == '/tratamientos'){
          <li (click)="goTratamientos()" style="color: white; text-decoration: underline;">Tratamientos aplicacdos</li>
        }@else {
          <li (click)="goTratamientos()">Tratamientos aplicados</li>
        }

        @if(checkRoute() == '/preguntas'){
          <li (click)="goPreguntas()" style="color: white; text-decoration: underline;">Preguntas frecuentes</li>
        }@else {<li (click)="goPreguntas()">Preguntas frecuentes</li>}
        
        @if(checkRoute() == '/terapias'){
          <li (click)="goTerapias()" style="color: white; text-decoration: underline;">Terapias</li>
        }@else {
          <li (click)="goTerapias()">Terapias</li>
        }
        
      </ul>
      
    </div>
    
    
    <!-- NAVBAR BOOTSTRAP 5 -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- Botón del menú -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Menú lateral -->
        <div class="offcanvas offcanvas-end" id="offcanvasNavbar">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title">Menú</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav">
              @if(checkRoute() == '/inicio'){
                <li class="nav-item"><a class="nav-link" style=" text-decoration: underline;" (click)="goInicio()" data-bs-dismiss="offcanvas">Inicio</a></li>
              }@else {
                <li class="nav-item"><a class="nav-link" (click)="goInicio()" data-bs-dismiss="offcanvas">Inicio</a></li>
              }
              @if(checkRoute() == '/tratamientos'){
                <li class="nav-item"><a class="nav-link"(click)="goTratamientos()" data-bs-dismiss="offcanvas" style=" text-decoration: underline;">Tratamientos aplicados</a></li>
              }@else {
                <li class="nav-item"><a class="nav-link"(click)="goTratamientos()" data-bs-dismiss="offcanvas">Tratamientos aplicados</a></li>
              }
              @if(checkRoute() == '/preguntas'){
                <li class="nav-item"><a class="nav-link" (click)="goPreguntas()" data-bs-dismiss="offcanvas" style=" text-decoration: underline;">Preguntas frecuentes</a></li>
              }@else {
                <li class="nav-item"><a class="nav-link" (click)="goPreguntas()" data-bs-dismiss="offcanvas">Preguntas frecuentes</a></li>
              }  
              @if(checkRoute() == '/terapias'){
                <li class="nav-item"><a class="nav-link" (click)="goTerapias()" data-bs-dismiss="offcanvas" style=" text-decoration: underline;">Terapias</a></li>
              }@else{
                <li class="nav-item"><a class="nav-link" (click)="goTerapias()" data-bs-dismiss="offcanvas">Terapias</a></li>
              }   
              
              
            </ul>
            
          </div>
        </div>
      </div>
    </nav>
  </div>
  

</header>




<router-outlet />


<footer id="footer-section">
  <div class="footer-big">
    <div class="imagen-footer-ct">
      <div class="imagen-footer"></div>
    </div>
    <div class="contacto">
      <b style="font-size: 200%;">Contacto</b> <br><br>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
      </svg>
      <b><a href="tel:+34656913116" style="margin-left: 5px; color: #3d1646; text-decoration: none;">{{this.telNormal}}</a></b><br>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
      </svg>
      <b style="margin-left: 5px; color: #c18bdf;"><a style="color: #3d1646; text-decoration: none;" href="mailto:{{this.email}}">{{this.email}}</a></b> <br>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
      </svg>
      <b>Ronda del Carmen, 2 - 1º A, 13002 <br> Ciudad Real</b><br>
      
    </div>
    <div class="enlaces">
      <b style="font-size: 200%;">Enlaces legales </b> <br><br>
      <a (click)="goPolitica()">Política de cookies</a><br>
      <a (click)="goAviso()">Aviso legal</a><br>
      <a (click)="goPrivacidad()">Politica de privacidad</a>
    </div>
  </div>
  <div class="footer-small">
    <div class="text1">
      2025 María Jesús García Castro Todos los derechos reservados
    </div>
    <div class="text2">
      Producido por <a href="https://crealsoft.es">CrealSoft</a>
    </div>
  </div>
</footer>
