<div class="title">
    <h1>Psicóloga en Ciudad Real</h1>
</div>
<div class="body">    
    <div class="especialista">
        <h2>¿En qué consiste la terapia? Preguntas frecuentes</h2>
        <ul>
            <li>En la primera sesión se realiza la historia clínica, se elabora el diagnóstico y se comienza la intervención.</li>
            <li>Terapia cognitivo-conductual, científicamente efectiva.</li>
            <li>Proceso activo y constructivo, con probabilidad de mejoría desde el inicio.</li>
            <li>Tratamiento técnico-práctico: ejercicios en casa, biblioterapia y análisis de datos, que ayudan de forma sencilla en el autoconocimiento y regulación de las emociones.</li>
            <li>Las pautas son interiorizadas de manera semiautomática, permitiendo que la persona sea autónoma para ejercer cambios por sí misma en el futuro.</li>
            <li>Proceso diseñado para que la persona se sienta cómoda durante la intervención.</li>
            <li>Resultados estables en el tiempo, con técnicas aplicables a otros problemas en el futuro.</li>
            <li>Se trata el problema en su totalidad, además de otras posibles áreas alteradas.</li>
            <li>La persona no cambia, sino su capacidad de enfrentamiento. Se refuerzan la confianza y la autoestima.</li>
            <li>No se establecerán objetivos de cambio que la persona no desee modificar.</li>
            <li>Cuando se supera el problema tratado, aumenta la calidad emocional general.</li>
            <li>Experiencia profesional.</li>
            <li>Sesiones de aproximadamente 60 minutos.</li>
        </ul>
    </div>    
</div>
<div class="separador">
    <div class="text1">
        <h2 style="color: white">Contacta en el teléfono o por WhatsApp:</h2>
        <b><a [href]="whatsappLink" style="color: white; text-decoration: none;">{{this.telNormal}}</a></b>
    </div>
</div>

<app-whatsapp-button></app-whatsapp-button>
