.lista{
    width: 50%;
}


.img{
    background-image: url('../../../assets/salon-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 35vh;
}

.imagenheader{
    background-image: url('../../../assets/foto_hoja_psicologaiudadreal.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 45vh;
}

.header {
    position: relative;
    background-image: url('../../../assets/foto_hoja_psicologaiudadreal.jpeg');
    background-size: cover;
    background-position: center;
    height: 25vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Alkalami', serif; /* Aplica la fuente Alkalami */
}

.header-content {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.header h1 {
    font-size: 5dvh; /* Ajusta el tamaño de la fuente según tus necesidades */
    margin: 0;
    font-family: 'Alkalami', serif; /* Aplica la fuente Alkalami */
}

.header p {
    font-size: 4dvh; /* Ajusta el tamaño de la fuente según tus necesidades */
    margin: 0;
    font-family: 'Alkalami', serif; /* Aplica la fuente Alkalami */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Color negro con 50% de opacidad */
    z-index: 1;
}





.lista h1{
    font-size: 100%;
}

.imagen-content{
    width: 15%;
    
}

.espacialista{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5vh;
}



.ampliaex h1{
    color: #3d1646;
    border-bottom: 3px solid #3d1646;
    font-size: 4vh;
}

.separador{
    text-align: center;
    align-items: center;
    background-color: #3d1646;
    font-weight: lighter;
    display: flex;
    color: white;
    height: 13vh;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: larger;
}

.text1{
    font-size: 1.5rem;
}

.ampliaex{
    width: 90%;
    color: black;
    font-weight: lighter;
    text-align: center;
    font-size: 150%;
    
}

.lista .subtitleslista h4{
    font-size: 5vh;
}

.lista .subtitleslista h5{
    font-size: 4.5vh;
}

.lista h4{
    font-size: 4vh;
}



.ampliacont{
    display: flex;
    justify-content: center;
    width: 100%;
}


@media (min-width: 2000px) {
    .lista{
        width: 50%;
        font-size: 250%;
    }

    .lista h1{
        font-size: 200%;
    }

    .ampliaex{
        font-size: 150%;
    }

    .ampliaex h1{
        font-size: 200%;
    }

    .imagen-content{
        width: 40vh;
    }

    .img{
        height: 50vh;
    }

}

@media (min-width: 1300px) and (max-width: 1400px){
    .separador{
        height: 20vh;
    }

    .imagenheader{
        height: 55vh;
    }
}


@media (max-width: 1920px){
    .separadorimgheader{
        height: 6vh;
    }

    .lista{
        font-size: 150%;
    }

    .imagen-content{
        width: 50vh;
    }

    .img{
        height: 60vh;
    }

    .imagenheader{
        height: 60vh;
    }
}

@media (min-width: 1900px){
   

    .lista{
        font-size: 250%;
    }
}




@media (min-width: 1000px) and (max-width: 1500px){
    .ampliaex b{
        font-size: 4.5vh;
    }

    .ampliaex h1{
        font-size: 7dvh;
    }
    .separador{
        height: 15vh;
    }

}




@media (max-width: 1025px) {
    
    

    .lista{
        margin: 5px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }


    .img{
        height: 40vh;
    }
    .ampliaex{
        width: 90%;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        font-size: 100%;
    }

    .ampliacont{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .imagen-content{
        width: 100%;
        padding-bottom: 20px;
    }

    .img{
        background-position: center;
    }

    .separador{
        height: 15dvh;
        font-weight: lighter;
    }

    .imagenheader{
        height: 15vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .text1{
        font-size: 90%;
        width: 90%;
    }

    .espacialista{
        padding-top: 15px;
        display: block;
    }

    .separadorimgheader{
        font-size: 2vh;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    .lista .subtitleslista h4{
        font-size: 3vh;
    }
    
    .lista h4{
        font-size: 2.5vh;
    }

    .lista .subtitleslista h5{
        font-size: 2.75vh;
    }

    .header-content {
        width: 90%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    
    .header h1 {
        font-size: 2.5dvh; /* Ajusta el tamaño de la fuente según tus necesidades */
        margin: 0;
        font-family: 'Alkalami', serif; /* Aplica la fuente Alkalami */
    }
    
    .header p {
        font-size: 2dvh; /* Ajusta el tamaño de la fuente según tus necesidades */
        margin: 0;
        font-family: 'Alkalami', serif; /* Aplica la fuente Alkalami */
    }

    .header {
        position: relative;
        background-image: url('../../../assets/foto_hoja_psicologaiudadreal.jpeg');
        background-size: cover;
        background-position: top;
        height: 15vh; /* Ajusta la altura según tus necesidades */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-family: 'Alkalami', serif; /* Aplica la fuente Alkalami */
    }

    .header-content p{
        font-size: 2.6vh;
    }
    .header-content h1{
        font-size: 2.75vh;
    }
}


.text1{
    font-size: 3vh;
}