<div class="body">
    <div class="espacialista">
        <div class="lista">
            <h1 style="color: #3d1646;">Especialista en ansiedad</h1>
            <ul>
                <li style="color: #c18bdf;">Rupturas de pareja</li>
                <li>Problemas de autoestima</li>
                <li>Orientacion de decisiones cotidianas</li>
                <li>Inteligencia emocional</li>
                <li>Trastorno de ansiedad</li>
                <li style="color: #c18bdf;">Problemas de pareja</li>
            </ul>
        </div>
        <div class="imagen-content">
            <div class="img">
                
            </div>
        </div>
    </div>

    <div class="ampliaex">
        <h1>Amplia experiencia en psicoterapia</h1>
        <b>Informacion sobre técnicas, duracion y temas a tratar en: </b> <br>
        <b style="color: #c18bdf">{{this.telFijo}}</b> <br>
        <b style="color: #c18bdf">{{this.telNormal}}</b>
    </div>

    <div class="separador">
        <div class="text1">
            Ronda del Carmen, 2 - 1º A <br>
            Ciudad Real
        </div>
        <div class="text2">
            Colegiado N.º CM-01166
        </div>
    </div>
</div>