
<div class="body">
    <div class="imagenheader">
    </div>
    <div class="espacialista">
        <div class="lista">
            <ul>
                <li style="font-size: 120%;">Especialista en ansiedad</li>
                <li>Rupturas de pareja</li>
                <li>Ataques de pánico</li>
                <li>Tendencia a sobrepensar</li>
                <li>Falta de confianza</li>
                <li>Seguridad para saber poner límites</li>
                <li>Estrés laboral y académico</li>
                <li>Problemas de autoestima</li>
                <li>Problemas de pareja</li>
            </ul>
        </div>
        <div class="imagen-content">
            <div class="img">
            </div>
        </div>
    </div>

    <div class="ampliacont">
        <div class="ampliaex">
            <h1>Amplia experiencia en psicoterapia</h1>
            <b>Las terapias se apoyan con herramientas útiles, material de apoyo y lecturas.</b> <br>
            <b>Para más información puedes llamar o contactar por <a>WhatsApp</a> en el teléfono:</b> <br>
            <b><a [href]="whatsappLink" style="color: #c18bdf;">{{this.telNormal}}</a></b><br><br>
            <b>Opción de realizar la sesión de psicoterapia de manera online por videollamada de WhatsApp o plataforma Skype.</b>
        </div>
    </div>

    <app-contacto></app-contacto>

    <div class="separador">
        <div class="text1">
            Ronda del Carmen, 2 - 1º A <br>
            Ciudad Real
        </div>
    </div>
</div>

<app-whatsapp-button></app-whatsapp-button>
<app-telefono-button></app-telefono-button>
