<div class="container mt-4">
    <div class="title text-center">
        <h1>Psicóloga en Ciudad Real</h1>
    </div>

    <div class="body">    
        <div class="especialista">
            <h2>Terapias</h2>
        </div>    
    </div>

    <!-- Acordeón de Terapias -->
    <div class="accordion" id="terapiasAccordion">
        <!-- Repetimos el siguiente bloque 8 veces cambiando el ID -->
        
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia1">
                    <i class="fas fa-chevron-right"></i>1. ¿EN QUE CONSISTE LA TERAPIA RACIONAL EMOTIVA?
                </button>
            </h2>
            <div id="terapia1" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p>Hay una íntima relación entre pensamientos, sentimientos-motivaciones y conductas. Es importante el efecto negativo que ejercen los pensamientos inadecuados sobre los sentimientos y conductas de la persona.</p> <br>
                
                    <p>El método de trabajo utilizado en la terapia se basa en la <strong>Terapia Racional Emotiva</strong> (RET). Todos tenemos una serie de “convicciones o creencias”, tan arraigadas, dentro de nosotros, que no hace falta que en cada situación nos la volvamos a plantear para decidir cómo actuar o pensar, es más, suelen salir en forma de “pensamientos automáticos” tan rápidamente que a no ser que hagamos un esfuerzo consciente por retenerlas, casi no nos daremos cuenta de que nosotros hemos dicho eso.</p> <br>
                
                    <p>Hay que analizar en qué medida estas ideas nos están dañando, haciéndonos sacar conclusiones erróneas y muchas veces dolorosas, y por último, se discute la lógica (o falta de lógica) que tienen esas creencias irracionales, y en qué medida podrían ser sustituidas por otras afirmaciones más adaptadas a la realidad.</p> <br>
                
                    <p>Es preciso “investigar” sobre el contenido de los pensamientos para saber si la interpretación de un fenómeno pueda no ser objetiva, demostrando así la relación entre pensamientos negativos, sentimientos desagradables y conductas inadecuadas. Este modo “distorsionado” de interpretar la realidad puede estar influido por experiencias de aprendizaje anteriores.</p> <br>
                
                    <h5>Ejemplo de racionalización - Debate de ideas irracionales:</h5> <br>
                
                    <p><strong>a) Acontecimiento desencadenante:</strong><br>
                    Un amigo ha cancelado su cita.</p> <br>
                
                    <p><strong>b) Ideas racionales:</strong><br>
                    Sé que en estos momentos se encuentra muy ocupado... Haré algo sola.</p> <br>
                
                    <p><strong>c) Ideas irracionales:</strong><br>
                    Me sentiré horriblemente sola esta noche... la sensación de vacío empieza a invadirme... realmente no se preocupa por mí... en realidad nadie quiere estar conmigo...</p> <br>
                
                    <p><strong>d) Consecuencias de las ideas irracionales:</strong><br>
                    Depresión... ansiedad moderada.</p> <br>
                
                    <h5><strong>e) Discusión y cambios de ideas irracionales:</strong></h5>
                
                    <p>1. Elija la idea irracional que desea discutir.<br>
                    Me sentiré horriblemente sola esta noche...</p> <br>
                
                    <p>2. ¿Existe algún soporte racional a esta idea?<br>
                    No.</p> <br>
                
                    <p>3. ¿De qué evidencias disponemos de la falsedad de esta idea?<br>
                    Estar sola no resulta agradable cuando se tenía una cita, pero puedo encontrar algo que hacer y sentirme a gusto con ello.</p> 
                
                    <p>Generalmente disfruto de estar sola y es lo que voy a hacer en cuanto acepte la desilusión que he sufrido.</p><br>
                
                    <p>4. ¿Existe alguna evidencia de la certeza de esta idea?<br>
                    No, lo único evidente es que me he estado hablando a mí misma bajo los efectos de la depresión.</p> <br>
                
                    <p>5. ¿Qué es lo peor que puede ocurrirme?<br>
                    Podría sentirme decepcionada durante toda la noche y no encontrar nada realmente agradable que hacer.</p> <br>
                
                    <p>6. ¿Qué cosas positivas podrían ocurrirme?<br>
                    Podría sentir más seguridad en mí misma y darme cuenta que dispongo de recursos propios.</p> <br>
                
                    <h5><strong>f) Pensamientos alternativos:</strong></h5>
                    <p>Estoy bien. Esta noche leeré mi novela de viajes y... puedo premiarme con una cena un poco especial. Estaré bien sola.</p> <br>
                
                    <h5><strong>g) Emociones alternativas:</strong></h5>
                    <p>Estoy tranquila, un poco desilusionada, pero puedo pasar un rato agradable con una buena comida y un buen libro.</p> <br>
                </div>
                
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia2">
                    <i class="fas fa-chevron-right"></i> 2. ¿QUÉ ES LA AUTOESTIMA?
                </button>
            </h2>
            <div id="terapia2" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p>Con nua buena <strong>autoestima </strong>tendrá: </p> <br>
                    <ul>
                        <li>Mayor aceptación de usted mismo y de los demás.</li>
                        <li>Menos tensiones y mejor posición para dominar el estrés.</li>
                        <li>Una visión más positiva y optimista respecto a la vida.</li>
                        <li>Una buena aceptación de las responsabilidades personales y la sensación de poseer el control de las cosas.</li>
                        <li>Más independencia.</li>
                        <li>Mejor capacidad de escuchar a los demás.</li>
                        <li>Un mayor equilibrio emocional.</li>
                        <li>Disfrutará de las situaciones sociales, pero también de la soledad.</li>
                        <li>Una mayor autoconfianza, más humor y creatividad.</li>
                        <li>Menos temores ante los riesgos y fracasos, que se convertirán en oportunidades, retos y experiencias.</li>
                        <li>Un aumento de la capacidad de expresar los sentimientos.</li>
                        <li>Desaparecerán los sentimientos negativos como la envidia o el rencor.</li>
                        <li>Tendrá una mayor ilusión, motivación, entusiasmo y capacidad para disfrutar de los pequeños placeres de la vida.</li>
                    </ul><br>

                    <p>Cómo mejorar su autoestima: </p>
                    <ul>
                        <li>Ampliar el concepto de autovalía.</li>
                        <li>Encontrar su parte sana.</li>
                    </ul><br>

                    <p>El objetivo de esforzarse por conocerse mejor es aprender a: </p>
                    <ul>
                        <li>Valorar las facetas positivas</li>
                        <li>Intentar modificar las negativas (si esto es posible).</li>
                        <li>Aceptar las inmodificables.</li>
                    </ul><br>

                    <p>Las personas con <strong>baja autoestima</strong> no se perciben con claridad a sí mismas. Como en el reflejo de espejos curvos, la imagen que ven magnifica sus debilidades y minimiza sus dotes. El resultado habitual de este reflejo distorsionado es una fuerte sensación de insuficiencia, a raíz de una desfavorable comparación con las personas que le rodean. Perciben a los demás mucho más exactamente que a sí mismos. En comparación con todas estas personas “normales”, su distorsionada imagen de espejo cóncavo parece terriblemente imperfecta.</p>
                    <br>

                    <p>Para elevar su autoestima es absolutamente preciso romper los viejos espejos trucados, y aprender a percibir con exactitud su particular equilibrio de fuerzas y debilidades. En vez de filtrar sus talentos y magnificar sus debilidades, puede aprender a reconocer y valorar a la persona que realmente es.</p>
                    <br>
                    <p>Aspectos a tener en cuenta para mejorar la autoestima: </p>
                    <ul>
                        <li>Autocrítica negativa.</li>
                        <li>Resentimiento</li>
                        <li>Culpa</li>
                        <li>Perfeccionismo</li>
                        <li>Resolución de problemas</li>
                        <li>Autoconocimiento</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia3">
                    <i class="fas fa-chevron-right"></i> 3. ¿QUÉ ES LA FOBIA SOCIAL?
                </button>
            </h2>
            <div id="terapia3" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p>Durante la terapia se practican habilidades de afrontamiento, habilidades de comunicación y autoestima para mejorar la ejecución social.</p><br>
                    <p>Cuando existe <strong>baja autoestima</strong> se da mucha importancia a la opinión de los demás. En este proceso la manera de interpretar la situación social desempeña un papel destacado, produciéndose fallos o errores de atención, de memoria, de interpretación y de valoración.</p> <br>
                    <p>Estas distorsiones incrementan la ansiedad y dificultan un comportamiento social eficaz, incluso en aquellos casos en los que el individuo posee un adecuado repertorio o conjunto de habilidades sociales.

                    </p><br>
                    <p>En ocasiones, los pensamientos distorsionados son tan importantes y la ansiedad tan intensa, que el individuo se ve incapaz de poner en marcha una serie de conductas adecuadas a la situación, aunque las posea y conozca bien qué es lo que tendría que hacer.</p>

                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia4">
                    <i class="fas fa-chevron-right"></i> 4. ¿QUÉ ES LA CALIDAD EMOCIONAL?
                </button>
            </h2>
            <div id="terapia4" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p>Aprender a reconocer y controlar el estrés es una habilidad esencial en la vida. Las personas que mejoran su resistencia al estrés o que son capaces de superar sus efectos tienden a estar emocional y físicamente más sanas que aquellas que se sienten estresadas gran parte del tiempo y creen que no pueden cambiar sus circunstancias. Es de gran ayuda, por tanto, aprender a adoptar algunos métodos básicos para controlar el estrés.

                    </p><br>
                    <p>Sabemos que un contratiempo, por pequeño que pueda parecer, puede arruinarnos todo el día, ocupando nuestro espacio psicológico. Nos identificamos con algún suceso, con algo que nos dijeron, algo que nos hirió y ahí nos quedamos detenidos sin capacidad para continuar alegremente la vida. Damos vueltas y más vueltas, fija nuestra atención en algo que nos pasó y así nos vamos volviendo negativos y atraemos hacia nosotros el cansancio, el mal humor, la depresión y la enfermedad.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia5">
                    <i class="fas fa-chevron-right"></i>5. ¿QUÉ ES LA ANSIEDAD?
                </button>
            </h2>
            <div id="terapia5" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p>Puede manifestarse en evitaciones o huidas, rituales, comprobaciones o ideas obsesivas.</p><br>
                    <p>Evitación-huida, compulsiones e ideas obsesivas al principio disminuyen la ansiedad (la calman) sin ser conductas eficaces y acaban, al ser repetitivas, aumentando la ansiedad.</p><br>
                    <p>Se aprenden estrategias de manejo de ansiedad, relajación, respiración y control de pánico.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia6">
                    <i class="fas fa-chevron-right"></i> 6. ¿QUÉ ES LA DEPRESIÓN?
                </button>
            </h2>
            <div id="terapia6" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p><strong>1. Síntomas afectivos: </strong>tristeza, pérdida de la gratificación, apatía, pérdida de sentimientos, y afecto por otras personas, pérdida de la alegría, ansiedad, sentimientos de culpabilidad excesiva, inutilidad y de desesperanza.</p><br>
                    <p><strong>2. Motivaciones: </strong>deseo de escapar (normalmente, vía suicidio), deseo de evitar “problemas” o incluso actividades cotidianas.</p><br>
                    <p><strong>3. Cognitivos: </strong>dificultad para concentrarse, problemas de atención, dificultades de memoria, indecisión.</p><br>
                    <p><strong>4. Conductuales: </strong>suelen ser reflejo de otros tipos de síntomas ya mencionados; se incluyen la pasividad (por ejemplo, quedarse en la cama o permanecer sentado en una silla durante horas), la evitación o huida del contacto con otras personas, la lentitud, la agitación, fatiga.</p><br>
                    <p><strong>5. Fisiológicos o vegetativos: </strong>alteraciones del sueño (tiempo de sueño por encima o por debajo de los períodos normales), del apetito (hiperfagia o hipofagia), etc.</p><br>
                    <p>Se recomiendan pautas para superar la depresión.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia7">
                    <i class="fas fa-chevron-right"></i> 7. ¿QUÉ PASOS SE SIGUEN DURANTE LA TERAPIA DE PAREJA?
                </button>
            </h2>
            <div id="terapia7" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p>Se aprende a negociar y resolver problemas. Formas básicas de comunicación.</p><br>
                    <ul>
                        <li>Planteamiento de un problema de forma breve y concreta.</li>
                        <li>Centrarse en posibles soluciones.</li>
                        <li>Evaluar en su caso pros y contras.</li>
                        <li>Llegar a acuerdos detallados y descriptivos.</li>
                        <li>Aceptar el compromiso de ambas partes.</li>
                        <li>Establecer contratos objetivos y no globales.</li>
                    </ul><br>
                    <p>Objetivos a largo plazo: </p>
                    <ul>
                        <li>Negociaciones objetivas y no globales.</li>
                        <li>Proporcionar agrado a la pareja.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terapia8">
                    <i class="fas fa-chevron-right"></i> 8. ¿QUÉ ES LA ASERTIVIDAD?
                </button>
            </h2>
            <div id="terapia8" class="accordion-collapse collapse" data-bs-parent="#terapiasAccordion">
                <div class="accordion-body">
                    <p>La asertividad es la expresión de los propios sentimientos, deseos, derechos legítimos y opiniones, sin amenazar o castigar.</p><br>
                    <p>Hay personas pasivas que no son capaces de expresar abiertamente sus sentimientos, pensamientos y opiniones, por lo que se pueden sentir incomprendidas, su comunicación es indirecta o incompleta. Otras por el contrario, muestran una conducta agresiva es decir, defienden sus derechos personales de manera impositiva, que transgreden los derechos de los demás.</p><br>
                    <p>Se emplean técnicas adecuadas para la mejora de la asertividad.
                        Ejemplo de asertividad: Por ejemplo, negarse a una petición.</p><br>
                    
                    <p><strong>Escuchar activamente: </strong></p>
                    <ul>
                        <li>Mantener la mirada dirigida.</li>
                        <li>Expresar atención con nuestro gesto.
                        </li>
                        <li>Asentir con la cabeza y murmullos.
                        </li>
                    </ul><br>

                    <p>Objetivos: </p>
                    <ul>
                        <li>Entender la petición que me hacen.</li>
                        <li>Transmitir atención e interés hacia el interlocutor.</li>
                    </ul>
                    <br>
                    <p><strong>Expresas mi objetivo: </strong>negación.</p><br>
                    <p><strong>Empatizar o entender al interlocutor: </strong>“Te comprendo...”, “Sé que para ti...”</p><br>
                    <p>Objetivos: </p>
                    <ul>
                        <li>Compartir los estados emocionales.</li>
                        <li>Ponerte en su lugar expresándolo.</li>
                    </ul><br>

                    <p><strong>Si el interlocutor trata de hacernos perder nuestro objetivo: </strong></p>
                    <ul>
                        <li>Ser persistentes, repitiendo una y otra vez lo que queremos.</li>
                        <li>No enojarnos ni levantar la voz.</li>
                    </ul><br>

                    <p><strong>Dar alternativas de solución.</strong></p><br>
                    <p><strong>Enfatizar nuestro interés por la relación a pesar de la negativa.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separador">
    <div class="text1">
        <h2 style="color: white">Contacta sin compromiso.</h2>
    </div>
</div>