body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: #3d1646;
    text-align: center;
    padding-top: 5vh;
}

.title h1 {
    font-size: 4vh;
    border-bottom: 2px solid #3d1646;
    width: 100%;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    color: #3d1646;
    margin-top: 2vh;
}

.subtitle h4 {
    font-size: 3vh;
    display: inline-block;
}

.body {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.especialista {
    width: 85%;
}

.especialista h2 {
    font-size: 4vh;
    color: #3d1646;
    margin-bottom: 1.5vh;
}

.accordion-button {
    text-align: left;
    font-size: 3vh;
    font-weight: bold;
    background-color: #c18bdf;
    color: white;
}

.accordion-button i {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.accordion-button[aria-expanded="true"] i {
    transform: rotate(90deg); /* Rota la flecha al abrir */
}

.accordion {
    margin-top: -2vh;
    margin-bottom: 5vh;
}

.accordion-body {
    text-align: left;
}

.separador {
    text-align: center;
    background-color: #3d1646;
    color: white;
    padding: 5vh 0;
}

.separador h2 {
    font-size: 4vh;
}

.separador b {
    font-weight: lighter;
    font-size: 4vh;
}

@media (min-width: 2000px) {
    .title h1 {
        width: 70%;
    }

    .especialista {
        width: 70%;
    }

    .separador b {
        font-size: 2.5rem;
    }
}

@media (min-width: 1500px) {
    .title h1 {
        width: 80%;
    }

    .especialista {
        width: 80%;
        font-size: 1.2rem;
    }

    .especialista h2 {
        font-size: 2rem;
    }
}

@media (max-width: 1025px) {
    .title h1 {
        font-size: 2.5vh;
        border-bottom: 1px solid #3d1646;
    }

    .subtitle h4 {
        font-size: 2vh;
    }

    .especialista {
        width: 90%;
    }

    .especialista h2 {
        font-size: 3vh;
    }

    .accordion-button {
        font-size: 2.5vh;
    }

    .accordion-body {
        font-size: 2.2vh;
    }

    .separador {
        padding: 3vh 0;
    }

    .separador h2 {
        font-size: 2.5vh;
    }

    .separador b {
        font-size: 1.4rem;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    .accordion-body {
        font-size: 3.5vh;
    }

    .separador h2,
    .separador b {
        font-size: 4.5vh;
    }

    .title h1 {
        font-size: 4.5vh;
    }

    .subtitle h4 {
        font-size: 4vh;
    }
}

.title h1 {
    border-bottom: 2px solid #3d1646;
}



@media (max-width: 1025px) {
    .title h1 {
        border-bottom: 1px solid #3d1646;
    }
}

